{% load static %}
  {% for task in tasks %}
        {% if request.user.is_staff %}
        <div class="list-group w-100 list task">
          <a
            href="{% url 'taskApprove' task.id %}"
            class="list-group-item list-group-item-action"
            aria-current="true"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-2 font-weight-bold">{{ task.category }}</h5>
              <small>{{task.created|timesince}} ago</small>
            </div> 
            <div class="d-flex flex-horizontal ml-0">
              <object
                class="logo"
                data="{% static 'Images/location1.svg' %}"
                width="25"
                height="20"
              ></object>
              <p class="mb-0">{{ task.location }}</p>
            </div>
            <h5 class="font-weight-bold w-2 mb-0">{{ task.name }}</h5>
            {% if task.completed is None %}
            Completed: No <br>
            {% else %}
              Completed: Yes <br>
            {% endif %}
            {% if task.approved is False %}
            <h6 class="leftbox-right font-weight-bold w-2 mb-0">Status: Not Approved</h6>
            {% else %}
            <h6 class="leftbox-right font-weight-bold mb-0">Status: Approved</h6> 
            {% endif %}
            Assigned to- @{{ task.assigned.username}} <br>
            
          </a>
        </div>
        {% else %}
        <div class="list-group w-100 list task">
          <a
            href="{% url 'taskImage' task.id %}"
            class="list-group-item list-group-item-action"
            aria-current="true"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-2">{{ task.category }}</h5>
              <small>{{task.created|timesince}} ago</small>
            </div>
            <div class="d-flex flex-horizontal ml-0">
              <object
                class="logo"
                data="{% static 'Images/location1.svg' %}"
                width="25"
                height="20"
              ></object>
              <p class="mb-0">{{ task.location }}</p>
            </div>
            {{ task.name }} <br>
            {% if task.completed is None %}
              Completed: No <br>
            {% else %}
              Completed: Yes <br>
            {% endif %}
            {% if task.approved is False %}
              Status: Not Approved    <br> 
            {% else %}
              Status: Approved     <br>    
            {% endif %}            
          </a>
        </div>
        {% endif %}
        {% endfor %}